<script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_search_bar = "true";
    amzn_assoc_tracking_id = "langspecs-20";
    amzn_assoc_search_bar_position = "bottom";
    amzn_assoc_ad_mode = "search";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_title = "Search";
    amzn_assoc_default_search_phrase = "Programming languages";
    amzn_assoc_default_category = "Books";
    amzn_assoc_debug = "false";
    amzn_assoc_ead = "0";
    amzn_assoc_linkid = "61c15b3eb73c0c83ab60a7f18dc595a2";
    amzn_assoc_default_browse_node = "283155";
    amzn_assoc_rows = "1";
</script>

<div class="advertising">
    <hr />
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</div>
