---
---
body {
  padding-bottom: 20px;
  padding-top: 5px;
  font-family: 'Lato',sans-serif;
  border-top: solid 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato',sans-serif;
  font-weight: 700;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.profile-header {
    color: #333;
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1px solid;

    h1 {
        font-weight: 300;
        font-size: 70px;
    }

    h3 {
        font-weight: 300;
        font-size: 24px;
    }
}

.spec-block {
    .icon {
      font-size: 4em;
      min-height: 60px;
    }
    .icon-logo {
      height: 60px;
    }
}


.social-links i {
    padding: 12px;
    font-size: 26px;
}

