<hr />
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>
                    This site simply maintains a link to the official location for the language spec.
                    That let's us focus on creating this site and maintaining the links while the language
                    authors keep responsibility for their respective languages.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    If you see something wrong with the site, need to correct the information about a spec, or want to add a
                    spec that's missing, head on over to <a href="https://github.com/scottdorman/languagespecs.info">GitHub</a> and submit a pull request.
                </p>
            </div>
            <div class="col-md-4">
                <div class="contact">
                    <p class="pull-left">Made with <span class="glyphicon glyphicon-heart"></span> in Tampa</p>
                    <div class="footer-buttons pull-left">
                        <iframe title="Twitter Follow Button" class="twitter-follow-button twitter-follow-button-rendered" id="twitter-widget-0" src="http://platform.twitter.com/widgets/follow_button.b8b8e09be0884a395c5ae18831ce1cc0.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=sdorman&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1486833136836" frameborder="0" scrolling="no" style="width: 238px; height: 20px; visibility: visible; position: static;" allowtransparency="true" data-screen-name="sdorman"></iframe>
                        <a class="github-button" aria-label="Star scottdorman/languagespecs.info on GitHub" href="https://github.com/scottdorman/languagespecs.info" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/scottdorman/languagespecs.info#stargazers_count" data-count-href="/scottdorman/languagespecs.info/stargazers" data-style="mega" data-icon="octicon-star">Star</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
