@{
    ViewData["Title"] = "Error";
}

<h1 class="page-title">An error occurred</h1>
<div class="page-content">
    <div class="container">
        <section>
            <p class="lead">Sorry, but we ran in to an unexpected error.</p>
            <div asp-validation-summary="All" class="text-danger"></div>
        </section>
    </div>
</div>
