body {
  color: #123851;
  border-color: #2980b9; }

h1, h2, h3, h4, h5, h6 {
  color: #123851; }

hr, .hr {
  border-color: #7fbbe3; }

a {
  color: #2472a4; }
  a:hover {
    color: #164666; }
    a:hover img {
      opacity: .75; }

.marketing-text {
  border-color: #7fbbe3; }

.specs .spec-block .spec-block-header {
  border-color: #d2e7f5; }

@media (max-width: 992px) {
  footer .contact {
    border-top-color: #bedcf0; } }

