body {
    padding-bottom: 20px;
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border-top-style: solid;
    border-top-width: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.marketing-text {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid;

    h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 24px;
        padding: 0 10px;
    }
}

.specs {
    overflow: hidden;
    margin: 20px 0 0;

    h2 {
        font-size: 14px;
        line-height: 24px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .spec-block {

        .spec-block-header {
            min-height: 70px;
            padding-bottom: 5px;
            border-bottom: 1px solid;
            font-size: 14px;

            .icon {
                font-size: 4em;
                min-height: 60px;
            }

            .icon-logo {
                height: 60px;
            }
        }
    }
}

footer {
    margin: 0 0 30px;
    text-align: center;
}

.footer-buttons {
    display: inline-block;
    font-size: 1.2em;
    vertical-align: middle;
    margin-top: 4px;
}

@media (max-width: 992px){
    footer {
        .contact {
            padding-top: 8px;
            border-top: 1px solid;
        }
    }
    .footer-buttons {
        margin-left: 1em;
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .footer-buttons {
        margin-left: 0;
        margin-top: 0;
    }
}
@media (min-width: 1200px) {
    .marketing-text p {
        padding: 0 50px;
    }
}
